@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = "نسيت كلمة السر؟";
}
<style>
	#footer {
		display: none;
	}
	body{
		overflow: hidden;
	}

	.form-floating > label {
		right: 0;
	}
</style>
<div style="
    margin-top: 30px;
    margin-right: 20px;
text-align:center;
">
<h1>@ViewData["Title"]</h1>
	<h2>أدخل بريدك الإلكتروني.</h2>
</div>
<hr />
<div class="row" style="
    margin-top: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
			<div class="form-floating mb-3">
				<input asp-for="Input.Email" style="float:right;" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
				<label asp-for="Input.Email" class="form-label">البريد الإلكتروني</label>
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<button type="submit" style="margin-top:10px;" class="w-100 btn btn-lg btn-primary">إعادة تعيين كلمة المرور</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
