@page
@model ForgotPasswordConfirmation
@{
 ViewData["Title"] = "نسيت تأكيد كلمة المرور";
}
<style>
	#footer {
		display: none;
	}
</style>
<div style="
    margin-top: 30px;
    margin-right: 20px;
">
<h1>@ViewData["Title"]</h1>
 <p style="
    font-size: 30px;
    color: crimson;
">
 يرجى التحقق من بريدك الإلكتروني لإعادة تعيين كلمة المرور الخاصة بك.
</p>
</div>