@page
@model RegisterConfirmationModel
@{
 ViewData["Title"] = "تأكيد حسابك";
}
<style>
	#footer {
		display: none;
	}
</style>
<div style="
    margin-top: 30px;
    margin-right: 20px;
">
<h1>@ViewData["Title"]</h1>
 <p style="
    font-size: 30px;
    color: crimson;
">
 يرجى التحقق من بريدك الإلكتروني لتأكيد حسابك.
</p>
</div>
