@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تم تغيير كلمة المرور";
}
<style>
	#footer {
		display: none;
	}

	body {
		overflow: hidden;
	}
</style>
<div style="
    margin-top: 30px;
    margin-right: 20px;
">
<h1>@ViewData["Title"]</h1>
<p>
 تم إعادة تعيين كلمة المرور الخاصة بك. لو سمحت <a asp-page="./Login">انقر هنا لتسجيل الدخول</a>.
</p>
</div>